.heatmap-legend {
    width: 230px;
    margin: 45px 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 1200;
    /* transform: translate(350px,200px); */
    position: absolute;
    top: 700px;
    /* bottom: 20px; */
    background: #ffffff;
    opacity: 0.9;

}

.heatmap-colors {
    display: flex;
    opacity: 0.9;
}

.legend-item {
    box-sizing: border-box;
    height: 18px;
    width: 100%;
}

.heatmap-values {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}