#dataoverview-panel {
  .panel-title {
    color: #333;
    line-height: 50px;
    height: 50px;
    text-align: left;
    font-size: 22px;
    padding-left: 30px;
    font-weight: 500;
    border-bottom: solid 1px #333;
    position: relative;

    .progress-btn {
      position: relative;
      top: -4px !important;
      right: 35px !important;

      .ant-progress-status-success .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
        stroke: #215ea5 !important;
      }
    }
  }

  #dataoverview-content {
    height: calc(100% - 50px);
  }

  #dataoverview-svg {
    height: 100%;
    width: 100%;
    // text {
    //   text-anchor: center;
    //   font-size: 14px;
    // }
  }
}