.barchart {
  box-sizing: border-box;
  border: none;
  padding: 1px;
  margin: 13.5px 20px;

  .barchart__deletebtn {
    display: none;
  }
}

.barchart:hover {
  border: 1px solid black;
  padding: 0;

  .barchart__deletebtn {
    display: block;
    cursor: pointer;
  }
}
